@media (max-width:53rem) {
    .container__principal{

        display: flex;
        flex-direction: column;
    
    
    
    
        .container__image{
            .image{
                width: 100%;
            }
        }
    }
}